 body{
    margin: 0;
    padding-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: hsl(235, 11%, 60%);
 }
 #calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(240, 12%, 20%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
 }
 #display_calculator{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(240, 10%, 40%);
    color: white;
 }
 #buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
 }
 button {
    width: 100px;
    height: 70px;
    border-radius: 50px;
    border: none;
    background-color: hsl(233, 12%, 42%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(235, 11%, 60%);
}
button:active{
    background-color: hsl(235, 11%, 70%);
}
.operator{
    background-color: rgb(54, 53, 53);
}
.operator:hover{
    background-color: black;
}
.operator:active{
    background-color: hsl(235, 11%, 70%);
}